# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
/wg-monitor
/wg-monitor-test*

# DUB
.dub
dub.selections.json
docs.json
__dummy.html
/docs/

# Code coverage
*.lst

# Other directories
.vscode/

# Misc
*.pdb
*.ls

# tracy
/trace.tracy
/trace.json

# compilers
/1.*
/2.*
/dub

# adrdox
/generated-docs
/skeleton.html

# dustmite
/RED

# project-specific
/batsign.url
/peers.list
