# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
/dub.selections.json
docs.json
__dummy.html
/docs/

# Code coverage
*.lst

# extras
/wg-monitor
wg-monitor.so
wg-monitor.dylib
wg-monitor.dll
wg-monitor.a
wg-monitor.lib
wg-monitor-test-*
wgm
*.pdb
*.ls

# tracy
/trace.tracy
/trace.json

# project-specific
/batsign.url
/peers.list

# compilers
/1.*
/2.*

# adrdox
/generated-docs
/skeleton.html
