[Unit]
Description=Wireguard monitor (%i)
After=network.target wg-quick@%i.service

[Service]
Type=simple
ExecStart=/path/to/wg-monitor --interface=%i --progress=false --wait-for-interface
WorkingDirectory=/path/to
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
